{{ define "main" }}
    {{ $env := printf "<strong><span id='user'>%s@%s</span><span id='terminal'>:</span><span id='dir'>~/%s</span></strong><span id='terminal'>$</span>" .Site.Params.Terminal.userName .Site.Params.Terminal.pcName "" | safeHTML }}
    {{ $envWithDir := printf "<strong><span id='user'>%s@%s</span><span id='terminal'>:</span><span id='dir'>~/%s</span></strong><span id='terminal'>$</span>" .Site.Params.Terminal.userName .Site.Params.Terminal.pcName .Site.Params.Terminal.workDir | safeHTML }}

    {{ $cat := printf "<span id=terminal>cat %s</span>" .Site.Params.Terminal.profile | safeHTML }}

    {{ $introduction := "" }}
    {{ if eq (substr .Site.Params.Terminal.introduction -3 3) ".md" }}
        {{ $s := "" }}
        {{ with .Site.GetPage .Site.Params.Terminal.introduction }}
            <!-- replace the first  p tag with a br tag  -->
            {{ $s = replaceRE "</?p[^>]*>" "" .Content 1 }}
        {{ end }}
    {{ $introduction = printf "<span id='terminal'>%s</span>" $s | safeHTML}}
    {{ else }}
    {{ $limit := sub (len (findRE "\n" .Site.Params.Terminal.introduction)) 1 }}
    {{ $introduction = printf "<span id='terminal'>%s</span>" .Site.Params.Terminal.introduction }}
    {{ $introduction = replaceRE "\n" "<br>" $introduction $limit| safeHTML }}
    {{ end }}


    {{ $experienceTree := "" }}
    {{ $experienceLeaf := "" }}
    {{ if .Site.Params.experienceTree.use }}
    {{ $experienceTree = printf "<span id='terminal'>tree %s</span>" .Site.Params.experienceTree.folderName | safeHTML}}
    {{ $experienceLeaf = printf "%s<strong><span id='dir'>%s</span></strong><br>" $experienceLeaf .Site.Params.experienceTree.folderName | safeHTML}}
        {{ range $index, $val := .Site.Params.experienceTree.files }}
            {{ $ac := index $val 0}}
            {{ $link := index $val 1}}

            <!-- pass link (i.e. http, https) and mailto -->
            {{ $l := $.Site.GetPage $link }}
            {{ if $l }}
                {{ $link = $l.Permalink}}
            {{ end }}
            
            {{ if eq (add $index 1) (len $.Site.Params.experienceTree.files) }}
            {{ $experienceLeaf = printf "<span id='terminal'>%s└── <a href='%s'>%s</a></span>" $experienceLeaf $link $ac | safeHTML}}
            {{ else }}
            {{ $experienceLeaf = printf "<span id='terminal'>%s├── <a href='%s'>%s</a></span><br>" $experienceLeaf $link $ac | safeHTML}}
            {{ end }}
        {{ end }}
    {{ end }}


    {{ $skillTree := "" }}
    {{ $skillLeaf := "" }}
    {{ if .Site.Params.skillTree.use }}
    {{ $skillTree = printf "<span id='terminal'>tree %s</span>" .Site.Params.skillTree.folderName | safeHTML}}
    {{ $skillLeaf = printf "%s<strong><span id='dir'>%s</span></strong><br>" $skillLeaf .Site.Params.skillTree.folderName | safeHTML}}
        {{ range $index, $val := .Site.Params.skillTree.files }}
            {{ $ac := index $val 0}}
            {{ $link := index $val 1}}

            <!-- pass link (i.e. http, https) and mailto -->
            {{ $l := $.Site.GetPage $link }}
            {{ if $l }}
                {{ $link = $l.Permalink}}
            {{ end }}
            
            {{ if eq (add $index 1) (len $.Site.Params.skillTree.files) }}
            {{ $skillLeaf = printf "<span id='terminal'>%s└── <a !href='%s'>%s</a></span>" $skillLeaf $link $ac | safeHTML}}
            {{ else }}
            {{ $skillLeaf = printf "<span id='terminal'>%s├── <a !href='%s'>%s</a></span><br>" $skillLeaf $link $ac | safeHTML}}
            {{ end }}
        {{ end }}
    {{ end }}

    {{ $projectTree := "" }}
    {{ $projectLeaf := "" }}
    {{ if .Site.Params.projectTree.use }}
    {{ $projectTree = printf "<span id='terminal'>tree %s</span>" .Site.Params.projectTree.folderName | safeHTML}}
    {{ $projectLeaf = printf "%s<strong><span id='dir'>%s</span></strong><br>" $projectLeaf .Site.Params.projectTree.folderName | safeHTML}}
        {{ range $index, $val := .Site.Params.projectTree.files }}
            {{ $ac := index $val 0}}
            {{ $link := index $val 1}}

            <!-- pass link (i.e. http, https) and mailto -->
            {{ $l := $.Site.GetPage $link }}
            {{ if $l }}
                {{ $link = $l.Permalink}}
            {{ end }}
            
            {{ if eq (add $index 1) (len $.Site.Params.projectTree.files) }}
            {{ $projectLeaf = printf "<span id='terminal'>%s└── <a href='%s'>%s</a></span>" $projectLeaf $link $ac | safeHTML}}
            {{ else }}
            {{ $projectLeaf = printf "<span id='terminal'>%s├── <a href='%s'>%s</a></span><br>" $projectLeaf $link $ac | safeHTML}}
            {{ end }}
        {{ end }}
    {{ end }}

    {{ $contactTree := "" }}
    {{ $contactLeaf := "" }}
    {{ if .Site.Params.contactTree.use }}
    {{ $contactTree = printf "<span id='terminal'>tree %s</span>" .Site.Params.contactTree.folderName | safeHTML}}
    {{ $contactLeaf = printf "%s<strong><span id='dir'>%s</span></strong><br>" $contactLeaf .Site.Params.contactTree.folderName | safeHTML}}
        {{ range $index, $val := .Site.Params.contactTree.files }}
            {{ $ac := index $val 0}}
            {{ $link := index $val 1}}

            <!-- pass link (i.e. http, https) and mailto -->
            {{ $l := $.Site.GetPage $link }}
            {{ if $l }}
                {{ $link = $l.Permalink}}
            {{ end }}
            
            {{ if eq (add $index 1) (len $.Site.Params.contactTree.files) }}
            {{ $contactLeaf = printf "<span id='terminal'>%s└── <a href='%s'>%s</a></span>" $contactLeaf $link $ac | safeHTML}}
            {{ else }}
            {{ $contactLeaf = printf "<span id='terminal'>%s├── <a href='%s'>%s</a></span><br>" $contactLeaf $link $ac | safeHTML}}
            {{ end }}
        {{ end }}
    {{ end }}


    {{ $end := $env }}

    {{ $payload := delimit (slice $cat $introduction $experienceTree $experienceLeaf $skillTree $skillLeaf $projectTree $projectLeaf $contactTree $contactLeaf $end) "" }}

    {{ $ps1Delay := $.Site.Params.Terminal.ps1Delay }}
    {{ $stdoutDelay :=  $.Site.Params.Terminal.stdoutDelay }}
    {{ $commandDelay := $.Site.Params.Terminal.commandDelay }}

    {{ partial "partials/typeIndex.html" (dict "context" . "env" $env "envWithDir" $envWithDir "cat" $cat "introduction" $introduction "contactTree" $contactTree "contactLeaf" $contactLeaf "projectTree" $projectTree "projectLeaf" $projectLeaf "skillTree" $skillTree "skillLeaf" $skillLeaf "experienceTree" $experienceTree "experienceLeaf" $experienceLeaf "ps1delay" $ps1Delay "stdoutdelay" $stdoutDelay "commanddelay" $commandDelay ) }}

{{ end }}
